@model IEnumerable<ShoesShop.Model.ProductModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-2.2.4.js"></script>
<script src="~/Scripts/jquery-2.2.4.min.js"></script>
<script src="~/Scripts/knockout/knockout-3.2.0.js"></script>
<script src="~/Scripts/knockout/knockout.validation.js"></script>
<script src="~/Scripts/knockout/koGrid-2.1.1.debug.js"></script>
<script src="~/Scripts/knockout/koGrid-2.1.1.js"></script>
<script src="~/Scripts/apps/Product/ko-product.js"></script>
<script src="~/Scripts/apps/Product/ProductModel.js"></script>

<div class="row " id="product-form">
    <div data-bind="if: !isViewDetail()">
        <!--ko template: viewListTemplate -->
        <!-- /ko-->
    </div>

    <div data-bind="if: isViewDetail()">
        <!--ko template: viewDetailTemplate -->
        <!-- /ko-->
    </div>

</div>

<script type="text/html" id="product-Detail">
    @Html.Partial("_Detail")
</script>

<script type="text/html" id="product-List">
    @Html.Partial("_List")

</script>


<script type="text/javascript">
    var builder = null;


    $(document).ready(function () {
        if (typeof (CommonEnum.API_URL == 'undefined'))
        {
            CommonEnum.API_URL = {};

        }
        CommonEnum.API_URL = $.extend({}, CommonEnum.API_URL,
            {
                GetProduct: '@Url.Action("GetProducts", "Product")',
                GetProductDetail: '@Url.Action("GetProductDetail", "Product")',
                UpdateProduct: '@Url.Action("UpdateProduct", "Product")',
            });

        var form =
        {
            //Categories : ViewBag.
        };
        var builder = new ProductListFormViewModel(form);
        ko.applyBindings(builder, document.getElementById('product-form'));
    });

</script>


