@model IEnumerable<ShoesShop.Model.ProductModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="data-table-area mg-b-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="sparkline13-list shadow-reset">
                    <div class="sparkline13-hd">
                        <div class="main-sparkline13-hd">
                            <h1>Products List</h1>
                            <div class="sparkline13-outline-icon">
                                <span class="sparkline13-collapse-link"><i class="fa fa-chevron-up"></i></span>
                                <span><i class="fa fa-wrench"></i></span>
                                <span class="sparkline13-collapse-close"><i class="fa fa-times"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="sparkline13-graph">
                        <div class="datatable-dashv1-list custom-datatable-overright">
                            <div id="toolbar">
                                <a class="btn btn-primary" onclick="ShowProductModal()" href="#"><span><i class="fa fa-plus"></i></span>&nbsp;New</a>
                            </div>
                            <table id="table" data-toggle="table" data-pagination="true" data-search="true" data-show-columns="true" data-show-pagination-switch="true" data-show-refresh="true" data-key-events="true" data-show-toggle="true" data-resizable="true" data-cookie="true" data-cookie-id-table="saveId" data-show-export="true" data-click-to-select="true" data-toolbar="#toolbar">
                                <thead>
                                    <tr>


                                        <th data-field="name" data-editable="true">Name</th>
                                        <th data-field="email" data-editable="true">Category</th>
                                        <th data-field="phone" data-editable="true">Supplier</th>
                                        <th data-field="company" data-editable="true">Quantity</th>
                                        <th data-field="company" data-editable="true">Views</th>
                                        <th data-field="complete">Price</th>
                                        <th data-field="task" data-editable="true">Unit In Stock</th>
                                        <th data-field="date" data-editable="true">Modified On</th>
                                        <th data-field="action">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr id="row_@item.Id">


                                            <td>@item.Name</td>
                                            <td>@item.CategoryName</td>
                                            <td>@item.SupplierName</td>

                                            <td>@item.Quantity</td>
                                            <td>@item.ViewCounts</td>
                                            <td>@item.UnitPrice</td>
                                            <td>@item.UnitsInStock</td>
                                            <td>@item.ModifiedOn</td>
                                            <td class="datatable-ct">
                                                <a href="@Url.Action("EditProduct","Product", new {productId = item.Id })" > <span class="mg-5"><i class="fa fa-pencil"></i></span></a>
                                                <a onclick="DeleteProduct('@item.Id')" href="#"><span class="mg-5"><i class="fa fa-trash"></i></span></a>
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("_ModalInsertProduct")
<script src="~/Scripts/apps/Product/ProductJS.js"></script>

